In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV , KFold , cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error
from sklearn import linear_model
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor

/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [97]:
df = pd.read_csv('diamonds_train.csv')
df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,0.32,Ideal,D,VS2,61.9,55.0,4.43,4.39,2.73,972
1,1,0.40,Premium,F,VS2,59.7,58.0,4.79,4.83,2.87,842
2,2,0.54,Very Good,D,VS2,61.1,59.0,5.25,5.29,3.22,1583
3,3,0.51,Ideal,G,VS1,61.7,55.0,5.17,5.14,3.18,1781
4,4,1.01,Very Good,F,SI2,62.8,60.0,6.33,6.40,4.00,4416

In [98]:
df = df.drop('Unnamed: 0',axis=1)

In [99]:
df = df[(df.x!=0)]
df = df[(df.y!=0)]
df = df[(df.z!=0)]

In [100]:
df_encoded =  pd.get_dummies(df)
df_encoded.head()

,carat,depth,table,x,y,z,price,cut_Fair,cut_Good,cut_Ideal,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.32,61.9,55.0,4.43,4.39,2.73,972,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1,0.40,59.7,58.0,4.79,4.83,2.87,842,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0.54,61.1,59.0,5.25,5.29,3.22,1583,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0.51,61.7,55.0,5.17,5.14,3.18,1781,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4,1.01,62.8,60.0,6.33,6.40,4.00,4416,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [101]:
df_standard_scale = StandardScaler()
temp =  pd.DataFrame(df_standard_scale.fit_transform(df_encoded[['carat','depth','x','y','z','table']]),columns=['carat','depth','x','y','z','table'],index=df_encoded.index)

In [102]:
df_encoded[['carat','depth','x','y','z','table']] = temp[['carat','depth','x','y','z','table']]

In [103]:
y = df_encoded['price']
x = df_encoded.drop('price',axis=1)

In [104]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.2, random_state=0)

In [105]:
lr = linear_model.LinearRegression()
lr.fit(xtrain,ytrain)
crossval = cross_val_score(estimator = lr, X = xtrain, y = ytrain, cv = 5,verbose = 1)
y_pred = lr.predict(xtest)
print('Linear Regression')
print('cross validation score')
print(crossval)
print('mean absolute error = {}'.format(mean_absolute_error(ytest, y_pred)))
print('mean squared error = {}'.format(mean_squared_error(ytest, y_pred)))
print('root mean squared error = {}'.format(np.sqrt(mean_squared_error(ytest, y_pred))))
print('r2 score = {}'.format(r2_score(ytest, y_pred)))
print('accuracy = {}'.format(lr.score(xtest,ytest)))
print('intercept = {}'.format(lr.intercept_))
coeff_df = pd.DataFrame(lr.coef_, x.columns, columns=['Coefficient'])  
coeff_df

Linear Regression
cross validation score
[0.92212954 0.91942995 0.91337591 0.90368803 0.92137186]
mean absolute error = 751.1216772402668
mean squared error = 1505011.2690554953
root mean squared error = 1226.7890075540681
r2 score = 0.9070739510829279
accuracy = 0.9070739510829279
intercept = 3353.5525046967405

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.1s finished

               Coefficient
carat          5405.443228
depth             0.077708
table           -69.745675
x              -584.404781
y               264.088197
z              -933.410996
cut_Fair       -555.990669
cut_Good          9.587115
cut_Ideal       240.773045
cut_Premium     162.832789
cut_Very Good   142.797720
color_D         815.689850
color_E         627.338650
color_F         572.856395
color_G         348.263199
color_H        -149.136742
color_I        -648.468281
color_J       -1566.543070
clarity_I1    -3853.703047
clarity_IF     1516.800894
clarity_SI1    -139.509409
clarity_SI2   -1096.581217
clarity_VS1     770.220760
clarity_VS2     465.093540
clarity_VVS1   1179.475931
clarity_VVS2   1158.202548

In [106]:
pred_df = pd.DataFrame({'Actual':ytest, 'Predicted':y_pred})
pred_df.head(30)

       Actual     Predicted
35909   10732   9396.695253
36265     492    581.024339
21652    3340   3323.540256
39873    7631   8141.169716
27548    2724   2897.812088
24383     707   1025.547680
29354     576   -732.257775
39505    5447   6701.012942
11966    2648   3511.842610
27823   11220  10625.950645
34841    1264    639.598589
31569    1014   1665.149771
5139    12872  10583.154613
12161     738   1081.276026
29294    2064   2861.275522
14980   16003  14479.371015
18899    2815   1761.434798
2789      900    747.625984
3262     4580   3978.626529
11344     890   1473.625732
28329    6727   6980.013145
16615    5729   6222.396552
9258     4469   4764.590408
17425     906    760.612881
1738     6112   7045.747638
38913    1870   2390.852777
6983     2441   2991.239247
29440   18188  12155.597167
295      1129   1561.877031
11730     842    574.178038

In [107]:
rf = RandomForestRegressor()
rf.fit(xtrain,ytrain)
crossval = cross_val_score(estimator = rf, X = xtrain, y = ytrain, cv = 5,verbose = 1)
y_pred = rf.predict(xtest)
print('Random Forest Regressor')
print('cross validation score')
print(crossval)
print('mean absolute error = {}'.format(mean_absolute_error(ytest, y_pred)))
print('mean squared error = {}'.format(mean_squared_error(ytest, y_pred)))
print('root mean squared error = {}'.format(np.sqrt(mean_squared_error(ytest, y_pred))))
print('r2 score = {}'.format(r2_score(ytest, y_pred)))
print('accuracy = {}'.format(rf.score(xtest,ytest)))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:  1.1min finished

Random Forest Regressor
cross validation score
[0.97937903 0.97881601 0.98018822 0.97960055 0.98027879]
mean absolute error = 272.4183689015212
mean squared error = 309075.80078365497
root mean squared error = 555.9458613782955
r2 score = 0.9809162937359733
accuracy = 0.9809162937359733

In [108]:
y_pred = rf.predict(xtest)

In [109]:
xtest

,carat,depth,table,x,y,z,cut_Fair,cut_Good,cut_Ideal,cut_Premium,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
35909,1.127281,-1.288872,-0.071006,1.279646,1.285970,1.077982,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
36265,-1.177790,2.261898,0.241487,-1.646867,-1.571418,-1.416871,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
21652,0.239089,1.008685,1.580741,0.250444,0.467085,0.482620,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
39873,1.000397,0.451702,0.241487,1.020108,1.024624,1.077982,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
27548,-0.162712,-4.421905,2.919995,0.295192,0.205738,-0.282847,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17144,1.486788,0.521324,0.241487,1.324394,1.346951,1.404014,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
1683,-0.078123,0.730193,-0.651350,0.044604,0.075065,0.142412,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
13467,-0.627956,0.382079,-1.097768,-0.590816,-0.543455,-0.523827,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
9929,1.486788,4.698701,3.812831,1.020108,0.893951,1.602469,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
16752,-0.606809,0.103587,-0.651350,-0.510270,-0.534744,-0.509652,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [110]:
import math

In [111]:
df = pd.read_csv('diamonds_test.csv', index_col=0)

In [112]:
df

       carat      cut color clarity  depth  table     x     y     z
0       0.56    Ideal     G     VS1   60.6   56.0  5.33  5.36  3.24
1       0.32  Premium     H     VS2   61.9   58.0  4.39  4.37  2.71
2       0.71     Good     G     VS2   64.2   58.0  5.59  5.62  3.60
3       1.12  Premium     H     VS1   62.1   58.0  6.64  6.60  4.11
4       1.21    Ideal     G     VS2   61.5   56.0  6.83  6.88  4.22
...      ...      ...   ...     ...    ...    ...   ...   ...   ...
13444   0.42    Ideal     H     VS1   61.2   57.0  4.87  4.80  2.96
13445   0.71     Fair     H     VS1   66.4   62.0  5.54  5.49  3.66
13446   0.60    Ideal     G     VS1   61.1   57.0  5.41  5.45  3.32
13447   0.70  Premium     D     SI2   62.8   61.0  5.61  5.57  3.51
13448   1.51     Fair     D     SI1   64.1   60.0  7.18  7.11  4.58

[13449 rows x 9 columns]

In [113]:
df = df[(df.x!=0)]
df = df[(df.y!=0)]
df = df[(df.z!=0)]

In [114]:
df_encoded =  pd.get_dummies(df)
df_encoded.head()

,carat,depth,table,x,y,z,cut_Fair,cut_Good,cut_Ideal,cut_Premium,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0.56,60.6,56.0,5.33,5.36,3.24,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
1,0.32,61.9,58.0,4.39,4.37,2.71,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,0.71,64.2,58.0,5.59,5.62,3.60,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1.12,62.1,58.0,6.64,6.60,4.11,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4,1.21,61.5,56.0,6.83,6.88,4.22,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [115]:
temp =  pd.DataFrame(df_standard_scale.fit_transform(df_encoded[['carat','depth','x','y','z','table']]),columns=['carat','depth','x','y','z','table'],index=df_encoded.index)

In [116]:
df_encoded[['carat','depth','x','y','z','table']] = temp[['carat','depth','x','y','z','table']]

In [134]:
df=df_encoded

In [135]:
df

,carat,depth,table,x,y,z,cut_Fair,cut_Good,cut_Ideal,cut_Premium,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,-0.504850,-0.808370,-0.657151,-0.361618,-0.339543,-0.435600,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
1,-1.011135,0.114041,0.246739,-1.199206,-1.228502,-1.201963,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,-0.188421,1.745998,0.246739,-0.129944,-0.106079,0.084949,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0.676483,0.255950,0.246739,0.805659,0.773900,0.822392,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4,0.866340,-0.169778,-0.657151,0.974959,1.025323,0.981449,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13444,-0.800183,-0.382642,-0.205206,-0.771501,-0.842389,-0.840471,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
13445,-0.188421,3.307001,2.054521,-0.174497,-0.222811,0.171707,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
13446,-0.420469,-0.453597,-0.205206,-0.290334,-0.258729,-0.319922,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
13447,-0.209516,0.752633,1.602576,-0.112123,-0.150976,-0.045188,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
13448,1.499197,1.675044,1.150630,1.286827,1.231849,1.501997,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [127]:
x.shape

(13443, 26)

In [136]:
y_pred = rf.predict(df)

In [137]:
y_pred

array([1875.69,  639.91, 2390.57, ..., 2078.36, 2231.87, 9850.86])

In [138]:
result=pd.DataFrame({"id":range(len(y_pred)),"price":y_pred})

In [139]:
result

          id    price
0          0  1875.69
1          1   639.91
2          2  2390.57
3          3  5780.24
4          4  7759.31
...      ...      ...
13438  13438  1045.93
13439  13439  2245.29
13440  13440  2078.36
13441  13441  2231.87
13442  13442  9850.86

[13443 rows x 2 columns]

In [140]:
result.to_csv("my_submition9",index=False)

In [141]:
result.shape

(13443, 2)

In [144]:
y_pred = rf.predict(x[:8067])

In [145]:
print('root mean squared error = {}'.format(np.sqrt(mean_squared_error(ytest, y_pred))))

root mean squared error = 5670.882511545156

In [121]:
kn = KNeighborsRegressor()
kn.fit(xtrain,ytrain)
crossval = cross_val_score(estimator = kn, X = xtrain, y = ytrain, cv = 5,verbose = 1)
y_pred = kn.predict(xtest)
print('KNeighbors Regressor')
print('cross validation score')
print(crossval)
print('mean absolute error = {}'.format(mean_absolute_error(ytest, y_pred)))
print('mean squared error = {}'.format(mean_squared_error(ytest, y_pred)))
print('root mean squared error = {}'.format(np.sqrt(mean_squared_error(ytest, y_pred))))
print('r2 score = {}'.format(r2_score(ytest, y_pred)))
print('accuracy = {}'.format(kn.score(xtest,ytest)))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    6.4s finished

KNeighbors Regressor
cross validation score
[0.95846049 0.95508293 0.95611771 0.95381708 0.95659696]
mean absolute error = 429.6524606421222
mean squared error = 695483.7130035948
root mean squared error = 833.9566613461366
r2 score = 0.9570577610517441
accuracy = 0.9570577610517441